body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #111;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
}
h1 {
  margin: 0;
}

.slidingpuzzle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(165deg, #301466, #5C3D99);

}

.board {
  position: relative;
  padding: 0;
}
.slidetile {
  position: absolute;
  list-style: none;
  background: #91c581;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-family: 'Open Sans';
  user-select: none;
  
}
button {
        padding: 0.5rem 1rem;
        background: none;
        position: relative;
        border: 3px solid white;
        border-radius: 2rem;
        color: white;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 700;
        overflow: hidden;
}

#display {
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 3rem;
}